<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Footer</title>
    <link rel="stylesheet" href="footer.component.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
</head>
<body>

<footer class="footer">
    <div class="container">
        <div class="footer-row">
            <div class="footer-col">
                <h4>Company</h4>
                <ul>
                    <li><a href="#">About us</a></li>
                    <li><a href="#">Our services</a></li>
                    <li><a href="#">Privacy policy</a></li>
                </ul>
            </div>

            <div class="footer-col">
                <h4>Get Help</h4>
                <ul>
                    <li><a href="#">FAQ</a></li>
                    <li><a href="#">About Rental</a></li>
                    <li><a href="#">Website</a></li>
                    <li><a href="#" target="_blank">Learn how rental works</a></li>
                    <li><a href="#" target="_blank">Terms and conditions</a></li>
                    <li><a href="#" target="_blank">Legal Information</a></li>
                    <li><a href="/contact">Help</a></li>
                </ul>
            </div>
            
            <div class="footer-col">
                <h4>Follow Us</h4>
                <div class="social-links">
                    <a href="https://www.facebook.com/gudiya.tiwari.10485546"><i class="fab fa-facebook-f"></i></a>
                    <a href="https://twitter.com/Ti59826355Jyoti"><i class="fab fa-twitter"></i></a>
                    <a href="https://www.instagram.com/jyoti.tiwari.011/"><i class="fab fa-instagram"></i></a>
                    <a href="https://www.linkedin.com/in/jyoti-tiwari-907475230/"><i class="fab fa-linkedin-in"></i></a>
                </div>
            </div>
        </div>
    </div>
    <p>&copy; 2023 Jyoti Tiwari pvt. ltd. All Rights Reserved.</p>
</footer>

</body>
</html>